@model IEnumerable<CSIT321.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.noteTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.noteContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.updatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.noteTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.noteContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updatedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.noteID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.noteID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.noteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
